.page {
  margin:10px;
  width:555px;
  height: 802px;
  padding:20px;
  margin-left:auto;
  margin-right:auto;
  border-color:red;
  border-style:solid;
  font-size:9px;
}
.top {
      height: 130px;
  position:relative;
}
.title {
  font-size: 14px;
  font-family: 'Cormorant SC', serif;
  margin-bottom:5px;
  margin-left:10px;
  width:auto;
}
.body {
  font-family: Segoe UI;
}
.invoiceheader {
  word-wrap:break-word;
  display:inline-block;
  font-family: 'Cormorant SC', serif;
  position:absolute;
  width:35%;
  padding:1%;
  text-align:left;
  height:auto;
  bottom:0px;
}
.companyAddress{
  margin:2px;
}
.companyDetails {
  position:relative;
  padding:1%;
  margin:0;
   display:block;
  font-size:8px;
  line-height: 100%;
  width:27%;
  float:left;
}
.companyName {
  position:relative;
  display:inline-block;
  font-family: 'Cormorant SC', serif;
  font-size: 18px;
  width:35%;
  padding:1%;
  float:left;
  height:70%; 
}
.companyName p {
  position:absolute;
  top:30%;
  margin:0px;
}
.line {
  clear:both;
  border-top:none;
  border-style:solid;
  border-width:0.5px;
  border-color:lightgrey;
  position:absolute;
  z-index:5;
  width:548px;
  top:163px;
}
.invoiceDetail {
 display:inline-block;
float:right;
padding-right:1%;
width:auto;
}
.invoiceDate {
  border-top:none;
  display: inline-block;
  text-align:center;
  border-style:solid;
  border-width:1px;
  padding:10px;
  padding-top:5px;
  padding-bottom:5px;
  border-color:lightgrey;
  
}
.paymentDate {
  border-top:none;
  border-top-width:5px;
  display: inline-block;
  text-align:center;
  border-style:solid;
  border-width:1px;
  padding:10px;
  padding-top:5px;
  padding-bottom:5px;
  border-color: lightgrey;
}
.invoiceTotal {
  border-top:none !important;
  border-style:solid;
  border-width:1px;
  border-color:#DE5622;
  display: inline-block;
  text-align:center;
  padding-left:10px !important;
  padding-right:10px !important;
  padding-top:5px !important;
  padding-bottom:5px !important;
  background-color:#DE5622;
  color:white;
}
.customer {
  margin:10px;
 font-size:9px; 
}
.itemsHeaderLine {
  clear:both;
  border-top:none;
  border-style:solid;
  border-width:0.5px;
  border-color:lightgrey;
  position:absolute;
  z-index:5;
  width:588px;
  top:151px;
}
.itemsHeader {
  font-family: 'Cormorant SC', serif;
  font-size:12px;
  color:#DE5622;
}
.itemsTable {
  margin-top:70px;
  width:100%; 
  border-collapse:collapse;

} 
.itemValueName {
  padding:5px;
  border-bottom: 2px solid lightgrey;
}
.itemName {
  width:20%;
  text-align: left;
}
.itemDescription {
  width:40%; 
  text-align: left;
}
.itemQuantity {
  width:12%;
  text-align: center;
}
.itemPrice {
  width:12%;
  text-align: center;
}
.itemTotal {
  width:15%;
  text-align: center;
}
.itemValue {
  padding:5px;
  vertical-align:middle; 
  border-bottom: 1px solid lightgrey;
}
.p1, .p2 {
  height:20%;
  width:50%;
  display: inline-block;
}
.payment {
  margin-top:40px;
  background: lightgrey;
  padding:15px;
}
.docHeader{
  font-size: 14px;
  font-family: 'Cormorant SC', serif;
  color:#DE5622;
  font-weight:600;
  margin:0px;
}
.notes {
  margin-top:20px;
  text-align:center;
  width: 555px;
  font-size: 14px;
  font-family: 'Cormorant SC', serif;
  color:#DE5622;
  font-weight:600;

}

.terms {
display: inline-block;
}
.paymentHeader {
  font-family: 'Cormorant SC', serif;
  font-weight:600;
  font-size: 12px;
}
