
doctype html
html
  head
    title='Invoice PDF template' 
    link(rel='stylesheet',type='text/css',href='main.css')
    link(rel='stylesheet' href="https://unpkg.com/antd@2.5.2/dist/antd.min.css")
  body
    h1= message
