body {
  height:100%;
  font-size:16px;
}
.page {
  width:740px;
  height-min:842px;
  height-max:auto;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  border-color:lightblue;
  border-style:solid;
  border-width:1px;
  margin-top:30px;
  margin-bottom:30px;
  padding:10px;
}

